<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <title>Email Verification</title>
    <style>
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #d4d3d3;
            font-size: 16px !important;
            font-family: 'Source Sans Pro', sans-serif;
;
        }

        img {
            width: 300px;
        }

        .wrapper {
            background: #ffffff;
            width: fit-content;
            padding: 50px 20px;
            position: relative;
            margin: auto;
        }

        .bg-wrapper {
            margin: 40px 0px;
        }
        .divcode{
            margin: 20px;
        }
        .vcode {
            background: #bdf99f;
            padding: 10px 15px;
            border-radius: 8px;
            
            font-size: 18px;
        }
    </style>
</head>

<body text="center">
    <center>
        <font size="3">
        <section class="wrapper">
            <div class="bg-wrapper"> 
                <img
                    src="https://raw.githubusercontent.com/ColorlibHQ/email-templates/master/10/images/email.png"
                    alt="email-icon">
            </div>
                <div>
                    Please use the verification code below to verify your email. <br>
                    This verification code is only valid for 10 minutes
                </div>
               <div class="divcode"> <span class="vcode"> <font size="4"><%= VERIFICATION_CODE %>  </font></span></div>
                <div>If you didn't request, Please ignore this email.</div>
                <br />
                <br />
                <div>
                    Thanks! <br />EventRio Team
                </div>
            </div>
        </section>
    </font>
    </center>
</body>

</html>